body {
    margin: 0;
    overflow: hidden;
}

#gameCanvas {
    display: block;
    background-color: black;
}

#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: Arial, sans-serif;
}

#key-count, #time, #message {
    margin-bottom: 5px;
}